.DemoContainer {
    font-family:'Noto Sans', sans-serif;
    display:flex;
    justify-content: space-around;
    position:sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header{
    background-image: url("assets/Cobble.png");
    position: fixed;;
    z-index: 5;
    width: 100%;
    color: white;
    top: 0;

}

.Header1 {
    align-self: center;
    display: flex;
}

.Header3 {
    display: flex;
    align-self: center;
}

.cube {
    padding-top:5px;
    padding-left:10px;
    width:70%;
}
.Rentier {
    margin-left: 35Px;
}
.realms {
    width:110%;
}

.Oui {
    text-align:center;
    font-size: 12PX;
    font-weight: bold;
    padding-top:5Px;
}

.Ptitlogo {
    width: 550px;
    position: relative;
    top:30px;
}

.Ptitchest {
    width: 90%;
    padding-left:10pX;
}

.Menu {
    padding-top:12Px;
    padding-left: 35px;
}
.PetitMenu {
    width: 100%;
}

.Oui:hover{
   color:green;
}

.Fond {
    width: 100%;
}

.ImageFond {
    margin-top:110px;
    height: 100px;
    width: 1280px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Body_Background.svg);
    font-family:'Noto Sans', sans-serif;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.absolute_container1 {
    color:white;
    text-align: center;
    border: solid 5px;
    padding: 20px 7px;
    font-weight: bold;
    background-color: #2E8521;
    border-top-color: #64FD1F;
    border-left-color: #156C00;
    border-bottom-color: #1E8C03;
    border-right-color: #47D009;
    box-shadow: 0.1px 3px  rgba(105, 105, 105, 0.4);
}

.absolute_container1:hover {
    border-top-color: rgb(87, 83, 83);
    border-right-color: rgb(87, 83, 83);
    border-left-color:rgb(43, 39, 39);
    border-bottom-color: black;
    background-color:rgb(51, 45, 45);
    text-align: center;
    transform: scale(1.2,1.2);
    transition: 1s;
}

.bouton_nul1 {
    font-size: 40px;
    padding: 0px 5px;
    text-shadow: 2px 2px grey;

}

.LesTrucs {
    color:white;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 103px;
}

.Logos {
    padding-top:10px;
    width: 125px;
}

.include {
    font-size:10px;
    font-weight: bold;
    text-shadow: 1px 1px gray;
}

.ArchiContainer {
    display: flex;
}

.Minecraft_R {
    flex-grow:1;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#C08856,#825C3A)
}

.Minecraft_E {
    flex-grow:1;
    display:flex;
    justify-content: space-between;
    background: linear-gradient(#624129, #624129)
}

.Minecraft_SM {
    flex-grow:1;
    display:flex;
    justify-content: space-between;
    background: linear-gradient(#908C8A, #353535)
}

.Image2 {
    width:115px;
    margin-top:35px;
    margin-right: 10px;
    position: relative;
    top:12px;
}

.Image3 {
    width: 120px;
    margin-top:45px;
    margin-right: 10px;
    position: relative;
    top:12px;
}

.Image1 {
    width: 120px;
    margin-top:35px;
    margin-right: 10px;
    position: relative;
    top:12px;
}

.Titre3 {
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-top:20px;
    margin-left:25px;
    padding-bottom:20px;
    text-shadow: 3px 3px rgb(75, 75, 75);
}

.Texte3 {
    color:white;
    font-size:16px;
    margin-left:25px;
    text-shadow: 1px 1px grey;
}

.Minecraft_R:hover {
    background:rgb(51, 45, 45);
    transform: scale(1.05,1.05);
    transition: 1s;
}

.Minecraft_E:hover {
    background:rgb(51, 45, 45);
    transform: scale(1.05,1.05);
    transition: 1s;
}

.Minecraft_SM:hover {
    background:rgb(51, 45, 45);
    transform: scale(1.05,1.05);
    transition: 1s;
}

.Js {
    display: flex;
    justify-content: center;

    margin-top: 40px;
    margin-bottom: 30px;
    margin-right:400px;
    margin-left:400px;
}

.PetitChien {
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 19px;
}

.PetitChien:active {
    background: black;
    color: white;
    transition: 0,5;
}

.ContainerPorc {
    margin: 0px 60px;
    display:flex;
    flex-wrap:wrap;
    width: 1140px;
}

.deroulant1 {
    height: 276px;
    width: 564pX;
    background-image: url("assets/deroulant1.jpg");
    background-size: 100%;
    position: relative;
    margin-bottom:15PX;
    margin-top:10px;
    margin-right: 10px;
}

.Dr1_2 {
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.75),black);
    text-align: center;
    color:white;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.EncBlanc {
    display: inline;
    background: white;
    color: black;
    position: relative;
    bottom: 10px;
    padding: 7px 17px;
    font-size:10px;
    justify-content: space-between;
}

.TitreBlanc {
    font-weight: bold;
    padding: 10px 0px;
}

.TextNone {
    display: none;
}

.deroulant1:hover .Dr1_2 .TextNone {
    display: block;
}


.deroulant2 {
    height: 564pX;
    width: 276PX;
    background-image: url("assets/deroulant2.jpg");
    background-size: 100%;
    position: relative;
}

.deroulant2:hover .Dr1_2 .TextNone {
    display: block;
}

.deroulant-1 {
    height: 276pX;
    width: 276PX;
    background-image: url("assets/deroulant-1.png");
    background-size: 100%;
    position: relative;
}

.deroulant-1:hover .Dr1_2 .TextNone {
    display: block;
}


.deroulant-2 {
    height: 576pX;
    width: 1140PX;
    background-image: url("assets/deroulant-2.jpg");
    background-size: 105%;
    position: relative;
    margin: 0Px 0px 10px 0px;
}

.deroulant-2:hover .Dr1_2 .TextNone {
    display: block;
}


.deroulant3 {
    height: 276pX;
    width: 276PX;
    background-image: url("assets/deroulant3.png");
    background-size: 100%;
    position: relative;
    margin-left:2px;
    margin-top:10px;
}

.deroulant3:hover .Dr1_2 .TextNone {
    display: block;
}

.deroulant4 {
    height: 276px;
    width: 564pX;
    background-image: url("assets/deroulant4.jpg");
    background-size: 100%;
    position: relative;
    margin-right:10px;
}
.deroulant4:hover .Dr1_2 .TextNone {
    display: block;
}

.deroulant5 {
    height: 276pX;
    width: 276PX;
    background-image: url("assets/deroulant5.jpg");
    background-size: 100%;
    position: relative;
}

.deroulant5:hover .Dr1_2 .TextNone {
    display: block;
}


.deroulant6 {
     height: 564pX;
     width: 564PX;
     background-image: url("assets/deroulant6.jpg");
     background-size: 100%;
     position: relative;
     margin-top:10px;
    }

.deroulant6:hover .Dr1_2 .TextNone {
    display: block;
    transition: 1s;
}

.deroulant7 {
    height: 276pX;
    width: 276PX;
    background-image: url("assets/deroulant77.jpg");
    background-size: 100%;
    position: relative;
    margin-left:10PX;
   }

.deroulant7:hover .Dr1_2 .TextNone {
   display: block;
   transition: 1s;
}

.deroulant8 {
    height: 564pX;
    width: 564PX;
    background-image: url("assets/deroulant8.jpg");
    background-size: 100%;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
   }

.deroulant7:hover .Dr1_2 .TextNone {
   display: block;
   transition: 1s;
}

.zoom {
    overflow: hidden;
}

.zom1 {
    width: 564px;
    height: 266px;
}

.deroulant1:hover .zoom .zom1 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom2 {
    width: 564px;
    height: 256px;
}

.deroulant11:hover .zoom .zom2 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom3 {
    width: 276px;
    height: 266px;
}

.deroulant-1:hover .zoom .zom3 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom4 {
    width: 276px;
    height: 266px;
}

.deroulant3:hover .zoom .zom4 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom5 {
    width: 285px;
    height: 556px;
}
.deroulant2:hover .zoom .zom5 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom6 {
    width: 1140px;
    height: 556px;
}
.deroulant-2:hover .zoom .zom6 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom7 {
    width: 564px;
    height: 256px;
}

.deroulant4:hover .zoom .zom7 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom8 {
    width: 276px;
    height: 256px;
}

.deroulant5:hover .zoom .zom8 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom9 {
    width: 576px;
    height: 556px;
}

.deroulant6:hover .zoom .zom9 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom10 {
    width: 276px;
    height: 256px;
}

.deroulant7:hover .zoom .zom10 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.zom11 {
    width: 564px;
    height: 554px;
}

.deroulant8:hover .zoom .zom11 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.deroulant8:hover .Dr1_2 .TextNone {
    display: block;
}

.deroulant11 {
    height: 276px;
    width: 564pX;
    background-image: url("assets/deroulant11.jpeg");
    background-size: 100%;
    position: relative;
    margin-right: 12Px;
}
.deroulant11:hover .Dr1_2 .TextNone {
    display: block;
}

.zom11 {
    width: 564px;
    height: 554px;
}

.deroulant8:hover .zoom .zom11 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.deroulant9 {
    height: 276px;
    width: 564pX;
    background-image: url("assets/deroulant9.jpg");
    background-size: 100%;
    position: relative;
    margin-right: 10Px;
    margin-top: 10px;
}
.deroulant9:hover .Dr1_2 .TextNone {
    display: block;
}

.zom12 {
    width: 564px;
    height: 266px;
}

.deroulant9:hover .zoom .zom12 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.deroulant10 {
    height: 276px;
    width: 276pX;
    background-image: url("assets/deroulant11.jpg");
    background-size: 100%;
    margin-top:10Px;
    position: relative
}
.deroulant10:hover .Dr1_2 .TextNone {
    display: block;
}

.zom13 {
    width: 276px;
    height: 266px;
}

.deroulant10:hover .zoom .zom13 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.deroulant111 {
    height: 276px;
    width: 564pX;
    background-image: url("assets/deroulant10.jpg");
    background-size: 100%;
    position: relative;
    margin-right: 10Px;
    margin-bottom: 2px;
    margin-top:10px;
}
.deroulant111:hover .Dr1_2 .TextNone {
    display: block;
}

.zom14 {
    width: 564px;
    height: 266px;
}

.deroulant111:hover .zoom .zom14 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.deroulant12 {
    height: 276px;
    width: 276pX;
    background-image: url("assets/deroulant12.jpg");
    background-size: 100%;
    position: relative;
    margin-top:10px;
}
.deroulant12:hover .Dr1_2 .TextNone {
    display: block;
}

.zom15 {
    width: 276px;
    height: 266px;
}

.deroulant12:hover .zoom .zom15 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}
.deroulant13 {
    height: 564px;
    width: 276pX;
    background-image: url("assets/deroulant13.jpeg");
    background-size: 100%;
    position: relative;
    margin-top:10px;
}
.deroulant13:hover .Dr1_2 .TextNone {
    display: block;
}

.zom16 {
    width: 276px;
    height: 556px;
}

.deroulant13:hover .zoom .zom16 {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.conteneurcolonne {
    display: flex;
}

.colonne_gauche {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.absolute_container2 {
    color:white;
    text-align: center;
    border: solid 3px;
    padding: 20px 50px;
    font-weight: bold;
    background-color: #2E8521;
    border-top-color: #64FD1F;
    border-left-color: #156C00;
    border-bottom-color: #1E8C03;
    border-right-color: #47D009;
    margin-top: 20Px;
    margin-bottom: 50px;
    box-shadow: 0.5px 3px rgba(110, 110, 110, 0.45)
}

.absolute_container2:hover {
    border-top-color: rgb(87, 83, 83);
    border-right-color: rgb(87, 83, 83);
    border-left-color:rgb(43, 39, 39);
    border-bottom-color: black;
    background-color:rgb(51, 45, 45);
    text-align: center;
    transform: scale(1.2,1.2);
    transition: 1s;
}

.bouton_nul3 {
    font-size: 15px;
    padding: 0px 5px;
    text-shadow: 2px 2px grey;

}

footer{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.Footer1 {
    display: flex;
    color: white;
    width: 100%;
}

.Mojang1{
    width: 50%;
}

.Microsoft1 {
  width: 60%;
}

.MentionL {
    text-align: center;
    margin-right: 100px;
}